<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./layouts/style.css">
    <title>Registro de Leitura</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="./images/undraw_save_to_bookmarks_re_8ajf.svg">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Registro de Leituras</h1>
                    </div>
                </div>

                <div class="inputs">
                    <div class="input-box">
                        <label for="book-title">Título do livro</label>
                        <input id="book-title" type="text" name="book-title" placeholder="O Príncipe Cruel" required>
                    </div>

                    <div class="input-box">
                        <label for="author">Autor</label>
                        <input id="author" type="text" name="author" placeholder="Autor" required>
                    </div>

                    <div class="input-box">
                        <label for="number-pages">Número de páginas</label>
                        <input id="number-pages" type="number" name="number-pages" placeholder="374" required min="1">
                    </div>
                </div>

                <div class="tag-inputs">
                    <div class="shelf-tag">
                        <h6>Tag de Estante</h6>
                    </div>

                    <div class="tag-group">
                        <div class="tag-input">
                            <input type="radio" id="read" name="tag">
                            <label for="read">Lidos</label>
                        </div>

                        <div class="tag-input">
                            <input type="radio" id="reading" name="tag">
                            <label for="reading">Lendo</label>
                        </div>

                        <div class="tag-input">
                            <input type="radio" id="to-read" name="tag">
                            <label for="to-read">Quero ler</label>
                        </div>
                    </div>
                </div>

                <div class="confirm-button">
                    <button><a href="#">Confirmar</a></button>
                </div>
            </form>
        </div>
    </div>    
</body>
</html>