 <div class="container">
    <div class="form-image">
        <img src="../public/images/lib.svg">
    </div>
    <div class="form">
        <form action="/login" method="post">
            <div class="form-header">
                <div class="title">
                    <h1>Login</h1>
                </div>
            </div>
            
            <div class="inputs">
                <div class="input-box">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" placeholder="Email" required>
                </div>
                
                <div class="input-box">
                    <label for="password">Senha</label>
                    <input id="password" type="password" name="password" placeholder="Senha" required>
                </div>
            </div>
            
            <div class="confirm-button">
                <button type="submit">Entrar</button>
            </div>
            
            <div class="signup-redirect">
                <a href="/signup-screen">Não tem uma conta? Cadastre-se</a>
            </div>
        </form>
    </div>
</div>