<div class="container">
    <div class="form-image">
        <img src="../public/images/lib.svg">
    </div>
    <div class="form">
        <form action="/signup" method="post">
            <div class="back">
                <a href="/"><img src="../public/images/arrow-left-solid.svg"></a>
            </div>
            <div class="form-header">
                <div class="title">
                    <h1>Sign Up</h1>
                </div>
            </div>

            <div class="inputs">
                <div class="input-box">
                    <label for="username">Nome</label>
                    <input id="username" type="text" name="username" placeholder="Nome completo" required>
                </div>

                <div class="input-box">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" placeholder="Email" required>
                </div>

                <div class="input-box">
                    <label for="password">Senha</label>
                    <input id="password" type="password" name="password" placeholder="Senha" required>
                </div>

                <div class="input-box">
                    <label for="confpassword">Confirmar senha</label>
                    <input id="confpassword" type="password" name="confpassword" placeholder="Confirmar senha" required>
                </div>
            </div>

            <div class="confirm-button">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>